html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

* {
	font-family: inherit;
}

.bold {
	font-weight: bold;
}

button:not([disabled]) {
	cursor: pointer;
}

.button {
	--fg: #007bff;
	--bg: white;
	background: var(--bg);
	color: var(--fg);
	transition: 0.3s ease;
	border: 2px solid var(--fg);
	border-radius: 5px;

	&[disabled] { --fg: gray; }

	&:not([disabled]):hover {
		color: var(--bg);
		background: var(--fg);
		border-color: var(--fg);
	}
}
